
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #c8c8c8, #c8c8c8);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    z-index: 2;
}

.header__navbar-item, 
.header__navbar-item-lin,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 3px solid #c8c8c8;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-label--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.5s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -17px;
}

.header__qr-img {
    width: 100%;

}

.header__qr-down {
    height: 16px;
    
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.catalogue {
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 4px solid #c8c8c8;
}

.container-login {
    width: 100%;
    height: 100px;
}

.auth-form {
    position: relative;
    width: 500px;
    top: 50px;
    left: 500px;
    overflow: hidden;
    border: 1px solid #c8c8c8;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: #c8c8c8 !important;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials .auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials-label {
    margin: 0 36px;
}

.auth-form__socials .auth-form__socials--google {
    
    color: #666;
}

.goole_text.auth-form__socials-label {
    color: #000;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #c8c8c8 !important;
}

.auth-form__help-separate {
    display: block;
    height: 18px;
    border-left: 2px solid var(--border-color);
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header-search {
    display: flex;
    height: var(--header-search-height);
    align-items: center;
    margin: 15px 8px 0 8px;

}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 90px;
    height: 75px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}


.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 4px;
}

.header__cart-wrap {
    position: relative;
    cursor: pointer;
    z-index: 2;
}


.header__cart-list {
    width: 400px;
    display: none;
    cursor: default;
    
    
}

.header__cart:hover .header__cart-list {
    display: block;
    
}

.header__cart-list::before {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 54px;
    top: 8px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    
}

.header__cart--no-cart-img {
    width: 40rem;
    height: 25rem;
    /* CSS duoi cua .header__cart-list */
    position: absolute;
    top: 130%;
    right: 50px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(230, 218, 218);
    display: block;
  
}

.header__cart--no-cart .header__cart--no-cart-img {
    display: block;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
    z-index: 1;
}

.header__search-select {
    border-left: 2px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 6px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: #c8c8c8;
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.content {
    width: 100%;
    height: auto;
}

.carousel {
    position: relative;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
  }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next,
    .active.carousel-item-right {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  
  @supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-prev,
    .active.carousel-item-left {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
  }
  
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  
  .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

.main {
    float: left;
    height: 1100px;
    width: 100%;
}

.left-menu {
    float: left;
    height: 1100px;
    width: 10%;
    border: 4px solid #c8c8c8;
}

.primary-product {
    float: right;
    height: 1100px;
    width: 90%;
    border-width: 4px 4px 4px 0px;
    border-style: solid;
    border-color: #c8c8c8;
}

#product {
    float: left;
    height: 340px;
    width: 260px;
    border: 2px solid #c8c8c8;
    margin-left: 10px;
    margin-top: 20px;
}

#product-name {
    float: left;
    height: 30px;
    width: 260px;
    font-weight: bolder;
    color: #000;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    line-height: 30px;
}

#product-img {
    float: left;
    height: 260px;
    width: 258px;
}

#product-price {
    float: left;
    height: 30px;
    width: 260px;
    font-weight: bolder;
    color: lightseagreen;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}


.auth-form {
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: blue;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials .auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials-label {
    margin: 0 36px;
}

.auth-form__socials .auth-form__socials--google {
    
    color: #666;
}

.goole_text.auth-form__socials-label {
    color: #000;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 18px;
    border-left: 2px solid var(--border-color);
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.footer {
    padding-top: 16px;
    border-top: 4px solid #c8c8c8;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2px 0;
    display: flex;
    align-items: center;
    color: #737373;
    
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__list-item-icon {
    font-size: 1.4rem;
    margin-top: -1px;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color)
}

.footer__download-app {
    margin-left: 16px;
}

.footer__download-app-img {
    height: 20px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 24px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}

Đang hiển thị 4355727375837021776.